.css-zxtyt4-MuiPaper-root-MuiAppBar-root,
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background: #242423 !important;
}

/* .css-zxtyt4-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
  background: transparent !important;
} */

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  /* background: #242423 !important; */
  color: #848484 !important;
  /* border-right: 8px solid rgba(173, 233, 1, 0.5) !important; */
  text-decoration: none;
}

.lenk {
  color: #848484 !important;
  text-decoration: none;
}

.css-h4y409-MuiList-root,
.css-144ebsl {
  background: #242423 !important;
  color: #848484 !important;
}

.css-10hburv-MuiTypography-root {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.css-10hburv-MuiTypography-root:hover {
  color: white !important;
}

.css-cveggr-MuiListItemIcon-root {
  color: #848484 !important;
}

.draw_box {
  padding: 8px 12px;
  background: #464646;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #848484;
  border-radius: 8.44671px;
}

.draw_box_2 {
  padding: 8px 9px;
  background: #464646;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #848484;
  border-radius: 8.44671px;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover .draw_box {
  background: #ade900 !important;
  color: white !important;
}

.draw_box:hover {
  background: #ade900;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover .draw_box_2 {
  background: #ade900 !important;
  color: white !important;
}

.draw_box_2:hover {
  background: #ade900;
}

.draw_hr_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw_hr {
  background: #ade900;
  width: 80%;
  height: 3px;
}

/* .css-zxtyt4-MuiPaper-root-MuiAppBar-root {
    width: calc(67% - 351px) !important;
    padding: 20px 0;
    background: #323232;
border-radius: 42.1986px;
} */

.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.logo_box {
  background: #ade900;
  border-radius: 10px;
}

.sm_nav {
  display: flex;
  background: #323232;
  border-radius: 42.1986px;
  padding: 7px 15px;
  margin: 10px 10px 0 0;
  font-weight: 600 !important;
  cursor: pointer;
}

.connct {
  color: black;
  font-weight: 600;
  background: #ade900;
  border-radius: 29.1092px;
  padding: 0px 27px;
  cursor: pointer;
}

/* .css-hyum1k-MuiToolbar-root {
  min-height: 0 !important;
}

.css-hyum1k-MuiToolbar-root {
    min-height: 0 !important;
  } */

@media screen and (max-width: 530px) {
  .css-hyum1k-MuiToolbar-root {
    min-height: 0 !important;
    width: 90%;
  }

  .sm_nav {
    padding: 5px 7px;
    font-size: 13px !important;
  }

  .connct {
    padding: 0px 17px;
  }

}


@media screen and (max-width: 600px) {
    .capture_emg{
        display: flex;
        justify-content: center;
      }
}

@media (min-width:321px) and (max-width: 375px) {
  .sm_nav{
    margin-left: 30px;
  }
}

@media (min-width:376px) and (max-width: 425px) {
  .sm_nav{
    margin-left: 55px;
  }
}