.ComingSoon_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  overflow: hidden !important;
  padding-left: 14rem;
  
}

.ComingSoon_box {
  padding: 30px;
  background: #262223;
  border-radius: 47.007px;
  width: 50%;
  /* height: 55vh; */
  box-shadow: rgba(70, 219, 12, 0.24) 0px 8px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ComingSoon_box_heading {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 800;
  font-size: 60.9327px;
  line-height: 71px;
  color: #ade900;
  padding: 80px 0;
}

.coming_hr {
  background: #ade900;
  width: 80%;
  height: 3px;
  /* margin-top: 130px; */
}

.ComingSoon_main_img_box {
  padding: 10px;
  background: #ade900;
  box-shadow: 0px 0px 0px #6ec345, 0px 0px 0px #6ec345, 0px 0px 0px #6ec345,
    0px 0px 0px #6ec345, 0px 0px 0px #6ec345, 0px 0px 0px #6ec345;
  border-radius: 20.5996px;
  margin-bottom: -40px;
  z-index: 9;
}

@media (min-width: 551px) and (max-width: 950px) {
  .ComingSoon_box {
    width: 85%;
  }

  .ComingSoon_box_heading {
    font-weight: 700;
    font-size: 55px;
    line-height: 51px;
  }
}

@media (min-width: 951px) and (max-width: 1100px) {
  .ComingSoon_box {
    width: 60%;
  }

  .ComingSoon_box_heading {
    font-weight: 700;
    font-size: 55px;
    line-height: 51px;
  }
}

@media screen and (max-width: 550px) {
  .ComingSoon_main {
    padding-left: 0;
  }

  .ComingSoon_box {
    width: 100%;
  }

  .ComingSoon_box_heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 51px;
  }
}


@media screen and (max-width:1100px) {
  .ComingSoon_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    overflow: hidden !important;
    padding: 0 20px !important;
    
  }
  
}